DJANGO_ALLOWED_HOSTS=sturdypotato.tojest.dev,www.sturdypotato.tojest.dev,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://sturdypotato.tojest.dev,https://www.sturdypotato.tojest.dev
DJANGO_DEBUG=false
DJANGO_ENV=prod
DJANGO_SECRET_KEY=replace-with-a-long-random-value
PORT=8000
