<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Your tasks</title>
        <script src="https://unpkg.com/htmx.org@2.0.4" defer></script>
    </head>
    <body>
        <main>
            <h1>Your tasks</h1>
            {% if tasks %}
                <ul>
                    {% for task in tasks %}
                        {% include "todo/_task.html" %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tasks yet.</p>
            {% endif %}
        </main>
    </body>
</html>
